label, select, input{
  width: 150px;
  display: inline-block;
  margin: 5px 0;
}

table {
  border: medium solid #6495ed;
  border-collapse: collapse;
  width: 50%;
  }
  th {
  font-family: monospace;
  border: thin solid #6495ed;
  width: 50%;
  padding: 5px;
  background-color: #D0E3FA;
  }
  td {
  font-family: sans-serif;
  border: thin solid #6495ed;
  width: 50%;
  padding: 5px;
  text-align: center;
  background-color: #ffffff;
  }
  caption {
  font-family: sans-serif;
  }
  .title
  {
    text-transform: uppercase;
    color: blue;
  }
  .bravo
  {
    color: red;
    text-transform: uppercase;
    font-weight: bold;
  }